#This is input configuration file for performing UT of PEM daemon.
#command syntax
#1. Create profile
# CP profile_name=<val> duration=<val> trig=<val> trig_delay=<val> repeat=<val> rearm_delay=<val> action=<val> delay=<val> interval=<val> run_mode=<val> trigger_mode=<val>
#2. Delete profile
# DP profile_name=<val> 
#3. Event trigger
# ET eventtriggername=<val> <arg1> <arg2> <arg3>
#4. Delay between commands (in seconds)
# DL sleep=<val>

CP profile_name=newprofile1 duration=10 trig_delay=20 repeat=30
DL sleep=40
DP profile_name=profile4
CP profile_name=newprofile2 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile3 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile4 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile5 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile6 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile7 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile8 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile9 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile10 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile11 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile12 duration=10 trig_delay=20 repeat=30
CP profile_name=newprofile13 duration=10 trig_delay=20 repeat=30
